# Environment
.env
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Django
staticfiles/
*.log
db.sqlite3
test_eor.sqlite3

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
node_modules/
.next/
out/
frontend/.env.local
